@if (this.loaderblock) {
	<div class="container-loader">
		<div class="loader"></div>
	</div>
}
<section class="padd-tb-30 footer">
	<div class="container bg-white shadow-lg shadow-green-500/50 w-5/6 m-auto">
		<div class="row w-full md:w-11/12  m-auto ">
			
			<div class="col-md-12">	
				<!--  Working Contact Form With Validation -->					
				<div class="padd-tb-20" >
					<h3>Contáctanos</h3>
					<div class="separator"></div>

					<form #formulario="ngForm" (ngSubmit)="guardarDatosSheety()" class="form">
						<div class="row">
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Nombre y Apellido</label>
									<div class="separator"></div>
									<input class="form-control dark" required type="text" autocomplete="off" name="name" placeholder="Nombre y Apellido" id="name" [(ngModel)]="dataFormulario.name" #name="ngModel" required minlength="3">
									<p class="help-block"></p>
								</div>
							</div>
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Empresa</label>
									<div class="separator"></div>
									<input type="text" class="form-control dark" placeholder="Empresa" autocomplete="off" name="empresa" id="empresa" [(ngModel)]="dataFormulario.empresa" #empresa="ngModel" >
									<p class="help-block"></p>
									<p *ngIf="empresa.invalid && empresa.touched">Coloque empresa a la que pertenece o coloque  "No"</p>

								</div>
							</div>
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Correo</label>
									<div class="separator"></div>
									<input  class="form-control dark" autocomplete="off" placeholder="Correo" type="email" name="email" id="email" [(ngModel)]="dataFormulario.email" #email="ngModel" required >
									<p class="help-block"></p>
									<p *ngIf="email.invalid && email.touched">Coloque un email valido"</p>
								</div>
							</div>
							
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Teléfono</label>
									<div class="separator"></div>
									<input type="text" class="form-control dark" placeholder="+1-321-884-654654" autocomplete="off" name="telefono" id="telefono" [(ngModel)]="dataFormulario.telefono" #telefono="ngModel" >
									<p class="help-block"></p>
									<p *ngIf="telefono.invalid && telefono.touched">Coloque un email valido"</p>
								</div>
							</div>
						</div>	
						<div class="control-group form-group">
							<div class="controls" >
								<label>Mensaje</label>
								<div class="separator"></div>
								<textarea class="form-control dark" rows="4" maxlength="999" style="resize:none" autocomplete="off" placeholder="Mensaje" name="mensaje" id="mensaje" [(ngModel)]="dataFormulario.mensaje" #mensaje="ngModel"></textarea>
								<p class="help-block"></p>
							</div>
						</div>
						<div id="success"></div>
						<div class="pull-right">
						@if (this.buttonblock) {
							<!-- <button class="btn btn-theme btn-lg" >Enviar</button> -->
							<button class="btn btn-theme btn-lg" [disabled]="formulario.invalid">Enviar</button>
                        }
                        @if (!this.buttonblock) {
							<button class="btn btn-theme btn-lg" disabled >Enviado!</button>
                        }
						</div>
					</form>
					<div class="clearfix"></div>
					
				</div>
				<!--  ./ Working Contact Form With Validation -->
			</div>
			
					
		</div><!-- ./row -->
						
							
	</div><!-- ./container -->
</section>