<section class="padd-tb-30 footer">
	<div class="container bg-white shadow-lg shadow-green-500/50 w-5/6 m-auto">
	
		<div class="row w-full md:w-11/12  m-auto ">
			
			<div class="col-md-12">	
				<!--  Working Contact Form With Validation -->					
				<div class="padd-tb-20" >
					<h3>Contáctanos</h3>
					<div class="separator"></div>

					<form  name="sentMessage" id="contactForm" novalidate>
						<div class="row">
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Nombre y Apellido</label>
									<div class="separator"></div>
									<input type="text" class="form-control dark" id="name" placeholder="Nombre" required >
									<p class="help-block"></p>
								</div>
							</div>
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Empresa</label>
									<div class="separator"></div>
									<input type="text" class="form-control dark" id="empresa" placeholder="Empresa" required >
									<p class="help-block"></p>
								</div>
							</div>
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Correo</label>
									<div class="separator"></div>
									<input type="Correot" class="form-control dark" id="emailt" placeholder="Correo" required >
									<p class="help-block"></p>
								</div>
							</div>
							
							<div class="control-group form-group col-sm-6">
								<div class="controls">
									<label>Teléfono</label>
									<div class="separator"></div>
									<input type="text" class="form-control dark" id="tlf" placeholder="+1-321-884-654654" required >
									<p class="help-block"></p>
								</div>
							</div>
						</div>	
						<div class="control-group form-group">
							<div class="controls" >
								<label>Mensaje</label>
								<div class="separator"></div>
								<textarea class="form-control dark" rows="4" id="mensaje" placeholder="Mensaje" maxlength="999" style="resize:none"></textarea>
								<p class="help-block"></p>
							</div>
						</div>
						<div id="success"></div>
						<div class="pull-right">
						<button type="submit" class="btn btn-theme btn-lg">Submit</button>
						</div>
					</form>
					<div class="clearfix"></div>
					
				</div>
				<!--  ./ Working Contact Form With Validation -->
			</div>
			
					
		</div><!-- ./row -->
						
							
	</div><!-- ./container -->
</section>
<!-- footer-sub -->
<div class="footer-sub bg-light-dark padd-tb-10">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="copyright">
					2024 &copy; talenctoActivo C.A - <a href="http://jonapiscope.com" target="_blank">Elaborado por JonVAG</a>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
			</div>	
		</div><!-- ./row -->
	</div><!-- ./container -->
</div>
<!-- ./footer-sub -->