<section class="section">
<article class="article1">
    <h2 class="text-4xl/8 font-bold text-center md:text-5xl md:font-semibold md:text-left text-white mb-8" >Únete a Nuestra Comunidad de</h2>
        <h2 class="text-4xl/8 font-bold text-center md:text-5xl md:font-semibold md:text-left text-white">Emprendedores y Líderes de Pymes</h2>
</article>
<article class="article2">
    <div class="div1" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
        <div class="imgflecha">
            <h3 class="h3">1</h3>
        </div>
        <div class="div3">
            <h3 class="h3">Descubre</h3>
            <p class="p1">Conoce nuestros servicios y productos diseñados para emprendedores pymes.</p>
        </div>
    </div>
    <div class="div1" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
        <div class="imgflecha">
            <h3 class="h3">2</h3>
        </div>
        <div class="div3">
            <h3 class="h3">Conéctate</h3>
            <p class="p1">Únete a nuestra comunidad
                de líderes y accede a
                oportunidades de formación y
                networking.</p>
        </div>
    </div>
    <div class="div1" data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
        <div class="imgflecha">
            <h3 class="h3">3</h3>
        </div>
        <div class="div3">
            <h3 class="h3">Empodera</h3>
            <p class="p1">Empodera tu potencial
                emprendedor y transforma
                tu negocio con nuestro
                acompañamiento.</p>
        </div>
    </div>
</article>
</section>
