<section class="section">
    <div class="content">
        <div class="bd-calloud-vacio ancho1">
            
        </div>
        <div class="bd-calloud ancho2">
            <p class="p1 font-panton-LightitalicCaps">
                Somos una oferta para instituciones y empresas, públicas y privadas, cuyo reto es alcanzar objetivos altamente productivos y sostenible para potenciar sus organizaciones y hacerlas más efectivas. 
            </p>
        </div>
        
        <div class="bd-calloud ancho3">
            <p class="p1 font-panton-BlackitalicCaps">
                Estamos al servicio de los talentos profesionales, vistos cada uno de ellos como líderes de su presente y futuro, dado que requieren herramientas para una gestión más efectiva,  que les permita lograr un exitoso camino que va más allá de sus propios límites
            </p>
        </div>
        <div class="bd-calloud-vacio ancho4">
            
        </div>
    </div>
    
</section>