    <a href="#" class="scrollToTop">
        <i class="fa fa-angle-up fa-2x"></i>
    </a>
    <app-nav></app-nav>

    <app-header></app-header>


    
    <!-- <section class="page-title bg-ligth text-center padd-tb-60 " id="products" style="background-color: #f4f4f5;" >
        <div class="container">
            <div class="card wow fadeInUp" data-aos="zoom-out-up" data-aos-duration="1000">
                <h3 class="entry-title"> Talento Activo <br> </h3>
                <h3 class="entry-title">
                <a href="#products"> constituye una oferta para instituciones y empresas, públicas y privadas, <br> cuyo reto es alcanzar objetivos altamente productivos y sostenible
                     para potenciar sus organizaciones y hacerlas más efectivas.  </a>
              </h3>
            </div>
        </div>
    </section>
    
    <section style="background-color: #f4f4f5;">
        <div class="container" class="bg-ligth produc" data-aos="fade-up"
        data-aos-duration="2000"> 
            <div class="row ">
                <div class="col-md-4 col-sm-6 wow fadeInUp shadow-nosotros" >
                    <div class="feature-box style2 ">
                        <i class="icon icon-puzzle circle"></i>
                        <h4>Marketing digital para PYMES</h4>	
                        <p class="text-left">●  Formación para consultores PYMES</p>
                        <p class="text-left">●  Apoyo para identificar competencias claves para el desarrollo de emprendimientos y PYMES</p>
                        <p class="text-left">●  Coaching para emprendedores, empresarios PYMES y sus equipos de trabajo</p>
                        <p class="text-left">●  Creación y desarrollo del área de comercialización y ventas en organizaciones PYMES</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp shadow-nosotros" >
                    <div class="feature-box style2">
                        <i class="icon icon-mouse circle"></i>
                        <h4>Eventos virtuales dirigidos a comunidades PYMES </h4>	
                        <p class="text-left">● webinar, ruedas de negocio, entre otros. </p>
                        <p class="text-left">● Consultoría especializada en áreas de gestión empresarial. </p>
                        <p class="text-left">● Fortalecimiento en la gestión empresarial. </p>
                        <p class="text-left">● Emprender empresas con negocios formados.</p>
                        <p class="text-left">● Acompañamiento para el sostenimiento de emprendimientos.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp shadow-nosotros" >
                    <div class="feature-box style2 text-left">
                        <i class="icon icon-plane circle"></i>
                        <h4>Desarrollo de liderazgo</h4>	
                        <p class="text-left">Sensibilización y entrega de distinciones en temas relacionados con:</p>
                        <p class="text-left">●  Integración de equipos.</p>
                        <p class="text-left">●  Negociación y manejo de conflictos.</p>
                        <p class="text-left">●  Administración del tiempo.</p>
                        <p class="text-left">●  Gestión de las emociones en el negocio.</p>
                        <p class="text-left">●  Conversaciones para una gestión efectiva.</p>
                        
                    </div>
                </div>	
            </div>
            
                                
        </div>
    </section> -->

    
    <app-our-purpose ></app-our-purpose>
    <app-who-are-we></app-who-are-we>

    
    
     <svg class="curveDownColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" >
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
    <!--  este div es para ponerle una distancia mayor a las dos secciones porque la curva le quita vista-->
    <div style="padding-top: 70px; background-color: #37502f;"> 
        <app-ourservice ></app-ourservice>
    </div>

    
    <svg class="curveDownColor bg-svg-green" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" >
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
    <app-unete></app-unete>
    <app-message></app-message>


    
    <section id="team" class="bg-dark padd-tb-80 image-v2 bg-fixed">
       
        <div class="container" data-aos="fade-up"
        data-aos-duration="3000">
        
            <div class="heading text-center padd-b-30 wow fadeIn">
                <h2><strong>OUR TEAM</strong></h2>
                <div class="separator center"></div>
                
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team1.jpg" class="img-responsive" alt="">
                        <div class="content">
                            John Doe
                            <span>CEO</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team2.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Mike Tan
                            <span>Marketing</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team3.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Rick Dunn
                            <span>Programmer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team wow fadeInUp">
                        <img src="assets/img/team4.jpg" class="img-responsive" alt="">
                        <div class="content">
                            Stephen King
                            <span>Designer</span>
                            <ul class="list-inline">
                                <li><a href="#" class="icon-holder facebook medium circle"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icon-holder twitter medium circle"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icon-holder skype medium circle"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#" class="icon-holder linkedin medium circle"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>								
                    </div>
                </div>
            </div>
            
            
            <div class="padd-t-60">
                <div class="row">
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-purple extra-large circle"><i class="icon-trophy"></i></div>
                            <h4>Projects</h4>
                            <span class="counter">
                                {{projects}}
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-blue extra-large circle"><i class="icon-hourglass"></i></div>
                            <h4>Hour</h4>
                            <span class="counter">
                                {{hours}}
                                
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">							
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-orange extra-large circle"><i class="icon-support"></i></div>
                            <h4>Support</h4>
                            <span class="counter">
                                {{support}}
                                
                            </span>
                        </div>							
                    </div>
                    
                    <div class="col-md-3 col-sm-6">								
                        <div class="counter-box wow fadeInUp">
                            <div class="icon-holder bg-red extra-large circle"><i class="icon-cup"></i></div>
                            <h4>Coffee</h4>
                            <span class="counter">
                                {{coffe}}
                                
                            </span>
                        </div>							
                    </div>
                    
                </div>
            </div>	
                
    
        </div>
    </section>

    <svg class="curveUpColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>
    
    
    <app-method></app-method>
    
    <svg class="curveDownColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
    <div style="height: 100px; background-color: #222;">

    </div>
    <app-footer></app-footer>
    