.navigation{
  background-color: yellow;
  width: 1200px;
  height: 500px;
}

.margin-negativo{
  margin-top: -0.8px;
}
.card{
  width: 80wv;
  padding: 30px;
  background: #1abc9c;
  margin: auto;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  
  &:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
      .entry-title{
            background-position: -100% 0;
        } 
  }
}

.entry-title{
  font-size: 18px;
  background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(22, 160, 133,1.0) 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .9s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
  
  a{
    color: white;
    text-decoration: none;
  }
}

.card2{
  width: 80wv;
  padding: 30px;
  background: #ffffff;
  margin: auto;
  transition: .3s ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
  
  &:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,.8);
    transform: translateY(-10px) scale(1.02);
      .entry-title2{
            background-position: -100% 0;
        } 
  }
}

.entry-title2{
  font-size: 12px;
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(175, 175, 175, 0.372) 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .9s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
  
  a{
    color: white;
    text-decoration: none;
  }
}

  .produc{
	padding: 60px 0
}

  @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .produc{
      padding: 0px 0;
    }

  }
  


  .curveUpColor, .curveDownColor {
    /* fill: #fff;
    stroke: #fff; */
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .green {
    fill: #37502f;
    stroke: #37502f;
  }
  .white {
    fill: #f4f4f5;
    stroke:  #f4f4f5;
  }
  .negro{
    fill: #222;
    stroke: #222;
  }
  .curveUpColor {
    margin-top: -100px;
  }
  .shadow-nosotros{
    height: 100% ;
    transition: transform .5s ease;
	}
  .shadow-nosotros:hover{
    transform: scale(1.02);
	}

  .bg-talento{
    background-color:  var(--bg-secundary);
  }

  .container-nosotros{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .texto-nosotros{
    width: 68%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .imagen-nosotros{
    height: 100%;
    width: 28%;
    background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../assets/talentoactivo/personal/adaluz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .container-h2-nosotros{
    width: 50%;
    margin-left: 60px;

  }
  .container-p-nosotros{
    width: 80%;
    margin: auto;
  }

  .conoceme{
    background-color: var(--sub-bg-secundary);  
    width: 100%;
    height: 85vh;
  }
  @media (max-width:760px)  { /* smartphones, iPhone, portrait 480x320 phones */
  .container-nosotros{
    justify-content: space-between;
  }
  .imagen-nosotros{
    width: 40%;
  }
  .texto-nosotros{
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .container-h2-nosotros{
    width: 80%;
    margin-left: 0px;
    margin: auto;
    text-align: center;
  }
  .container-p-nosotros{
    width: 90%;
    margin: auto;
    text-align: center;
  }

  }
