
    <app-nav></app-nav>
    

    <app-header-carousel></app-header-carousel>

    
    <app-our-purpose ></app-our-purpose> 
    <app-who-are-we></app-who-are-we> 

    
    
     <svg class="curveDownColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" >
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>


    <!--  este div es para ponerle una distancia mayor a las dos secciones porque la curva le quita vista-->
    <div style="padding-top: 70px;" class="bg-talento"> 
        <app-ourservice ></app-ourservice>
    </div>

    
    <svg class="curveDownColor bg-svg-green margin-negativo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" >
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
    <app-unete></app-unete>
    <!-- <app-message></app-message> -->


    
    <section class="conoceme" >
            <div class="container-nosotros" >
                <article class="texto-nosotros" >
                    <div class="mb-8 mt-0 container-h2-nosotros ">
                        <h2 class="text-white text-4xl font-bold title-nosotros font-panton-light">Nuestra misión </h2>
                    </div>
                    <div class="mb-5 container-p-nosotros">
                        <p class="text-white mt-2 font-normal text-2xl md:text-3xl/9 md:font-light   p-nosotros  md:font-panton-light">
                            Vincularnos con las Pymes de América, generando cambios conscientes en el hacer de sus líderes, 
                            para que se constituyan en agentes de transformación en sus negocios, impactando en sus equipos, 
                            familias, ambiente y sociedad de manera prospera y en abundancia.
                        </p>
                    </div>
                    <div class="mt-4 container-p-nosotros">
                        <h2 class="text-white font-extrabold text-2xl md:text-4xl/9 md:font-light-bold  p-nosotros mt-10">Nuestros valores</h2>
                        <ul class="ml-10 mt-3 md:mt-4 md:ml-5">
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Disciplina.</p>
                            </li>
                            
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Integridad.</p>
                            </li>
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Abundancia.</p>
                            </li>
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Sentido de familia.</p>
                            </li>
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Creación de posibilidades.</p>
                            </li>
                            <li><p class=" text-white ml-2 md:ml-0 font-normal text-2xl md:text-3xl/9 md:font-light  p-nosotros text-left">Cuidado por las relaciones.</p>
                            </li>
                        </ul>
                        
                    </div>
                </article>
                <article class="imagen-nosotros">
                </article>
            </div>
    </section>

    <svg class="curveUpColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>
    
    
    <app-method></app-method>
    
    <svg class="curveDownColor bg-svg-white" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>
    <div style="height: 100px; background-color: #222;">

    </div>
 <!--    <app-footer></app-footer> -->

 <app-contac-us></app-contac-us>
 <app-pie-footer></app-pie-footer>

 <app-whatsapp></app-whatsapp>
    