<main [style.view-transition-name]="'serie-slide'">
    
    <div class="contenedor" >
        <article>
        </article>
        <div class="wrap" >
            <div class="box" >
                <span >Tu potencial, nuestro pasión...</span>
                <h1 data-aos="zoom-in"
                data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">En TALENTO ACTIVO </h1>
                <div class="cajasubtitle">
                    <p  class="subtitle1" data-aos="zoom-out-up" data-aos-duration="2500">Despertamos el potencial empresarial </p>
                    <p  class="subtitle2" data-aos="zoom-out-up" data-aos-duration="3000"> en las PYMES!</p>
                </div>

                <div class="botones">
                    <a href="#contact" class="btn1" data-aos="fade-right"
                    data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">Contactanos</a>
                    <a href="#" class="btn1" data-aos="fade-left"
                    data-aos-anchor-placement="bottom-bottom" data-aos-duration="2000">Podcast</a>					
                </div>
            </div>
        </div>
    </div>
</main>