<section class="contenedor " >
    <article  class="title" data-aos="zoom-out-up" data-aos-duration="1000">
            <h1>Nuestra Metodología</h1>
    </article>
    <article  class="diagrama">
        <div class="contenedor-parrafo-1">
            <section class="parrafo" data-aos="zoom-out-up" data-aos-duration="2000">
                <div>
                    <h3>Empoderamiento</h3>
                </div>
                <div>
                    <p>Empoderamos a nuestros clientes entregando
                        conocimiento, metodologías y prácticas
                        probadas de gestión efectiva.</p>
                </div>
            </section>
            <section class="parrafo" data-aos="zoom-out-up" data-aos-duration="2200">
                <div>
                    <h3>Innovación y Tecnología</h3>
                </div>
                <div>
                    <p>Estamos conectados con el futuro a través de
                        medios virtuales, siendo más eficientes,
                        ecológicos y alineados con las tendencias
                        tecnológicas.</p>
                </div>
            </section>

        </div>
        <div class="contenedor-parrafo-2" >
            <section class="parrafo centrado" data-aos="zoom-out-up" data-aos-duration="2500">
                <div>
                    <h3>Conexión Empática</h3>
                </div>
                <div>
                    <p>Contamos con la sensibilidad necesaria para
                        escuchar y conectar con la realidad de cada
                        cliente, co-construyendo espacios de
                        aprendizaje.</p>
                </div>
            </section>
            
        </div>
            
            
            
    </article>
</section>

