.variable-color-principal {
	background-color: #27d7e7;
}

.variable-color-secundario {
	background-color: #e7d427;
}

.variable-color-contraste {
	background-color: #000000;
}
.variable-texto-principal {
	color: #4bc1cc;
}

.variable-texto-contraste {
	color: #363636;
}