<section class="section">
    <article class="article1">
        <h2 class="text-4xl/8 font-bold text-center md:text-5xl md:font-semibold md:text-left text-white  md:mb-8 font-panton-light" >Nuestra Historia</h2>
    </article>
    <article class="article2">
        <div class="div1" >
            <div class="imgflecha">
                <h3 class="h3">1</h3>
            </div>
            <div class="div3">
                <h3 class="h3 font-light font-panton-light-italic">Más de 30 años</h3>
                <p class="p1  font-panton-light">Talento Activo surge de la
                    experiencia de más de 30 años
                    de Adaluz Hernández en el
                    mundo del emprendimiento y
                    las Pymes.</p>
            </div>
        </div>
        <div class="div1" >
            <div class="imgflecha">
                <h3 class="h3">2</h3>
            </div>
            <div class="div3">
                <h3 class="h3 font-bold font-panton-light-italic">Visión y pasión</h3>
                <p class="p1 font-semibold font-panton-light">Adaluz, venezolana y
                    emprendedora, cree en la
                    educación, la formación y el
                    coaching como vehículos de
                    transformación y expansión
                    personal.</p>
            </div>
        </div>
        <div class="div1" >
            <div class="imgflecha">
                <h3 class="h3">3</h3>
            </div>
            <div class="div3">
                <h3 class="h3 font-bold font-panton-light-italic">Impacto y crecimiento</h3>
                <p class="p1 font-semibold font-panton-light">Bajo la marca Talento Activo,
                    Adaluz busca hacer equipo con
                    su gente para llevar el éxito a
                    emprendedores y dueños de
                    Pymes.</p>
            </div>
        </div>
    </article>
</section>
