<section class="section">
    <article class="article"  >
        <div class="title" data-aos="zoom-out-down"  data-aos-duration="1500">
            <h2 class="title-h2">
                El Potencial emprendedor de las Pymes son el motor del mundo
            </h2>
            <h3 class="title-h3">
                ¿Cuál es nuestro propósito?
            </h3>

        </div>
        <div class="content">
            <div class="bd-calloud" data-aos="zoom-out-down"  data-aos-duration="1500">
                <p class="p1">Darle visibilidad y contención al potencial emprendedor para que se desarrolle en cualquier escenario viable</p>
            </div>
            <div class="bd-calloud" data-aos="zoom-out-down"  data-aos-duration="1500">
                <p class="p1">Ser un aporte para formar empresarios con una visión integral de su hacer, como líderes de sus organizaciones y del equipo que los sigue, para que su cambio impacte en los resultados de la empresa, de la sociedad y el ambiente.</p>
            </div>
            <div class="bd-calloud" data-aos="zoom-out-down"  data-aos-duration="1500">
                <p class="p1">Impulsar el potencial humano y empresarial para que estos líderes logren su visión y prosperidad integral.</p>
            </div>
        </div>

    </article>

    
</section>
