<nav class="navbar navbar-default navbar-onepage mt-0" [ngClass]="{oscurecer:activarScroll}">
	<div class="contenido-nav">
		<div class="navbar-header sm:ml-1 md:ml-16 lg:ml-20 pt-6 sm:mt-0 ">
			<button type="button" class="navbar-toggle collapsed " (click)="clickMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="box-title">
				<div class="custom-icon">
					<a  routerLink="/inicio" routerLinkActive><img src="../../../assets/talentoactivo/talentoactivo-logo-pequeno.png" height="80px" width="60px" alt="talentoactivo-logo"
					></a>
				</div>
				<div class="navbar-brand title-logo">
					<a  routerLink="/inicio" routerLinkActive><p class="talento nunito-sans-font">Talento Activo</p></a>
				</div>
			</div>
		</div>
		<div class="esto lg:mr-24 sm:m-auto md:mt-0 bg-[#606060f8] xl:bg-transparent pr-1 md:pr-14"  [ngClass]="{esconder:menuResponsive}" >
			<ul class="nav navbar-nav navbar-right mt-6 menu-centrado">
				<li class="talento text-center sm:text-xl md:text-4xl nunito-sans-font" ><a routerLink="/inicio/services" routerLinkActive>services</a></li>
				<li class="talento text-center sm:text-xl md:text-4xl nunito-sans-font" ><a routerLink="/inicio/services" routerLinkActive>products</a></li>
				<li class="talento text-center sm:text-xl md:text-4xl nunito-sans-font" ><a routerLink="/inicio/services" routerLinkActive>team</a></li>
				<li class="talento text-center sm:text-xl md:text-4xl nunito-sans-font" ><a routerLink="/inicio/services" routerLinkActive>Pricing</a></li>
				<li class="talento text-center sm:text-xl md:text-4xl nunito-sans-font" ><a routerLink="/inicio/services" routerLinkActive>Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
