<!-- footer-sub -->
<div class="footer-sub bg-light-dark padd-tb-10">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="copyright">
					2024 &copy; talenctoActivo C.A - <a href="http://jonapiscope.com" target="_blank">Elaborado por JonVAG</a>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
			</div>	
		</div><!-- ./row -->
	</div><!-- ./container -->
</div>
<!-- ./footer-sub -->