<section class="contenedor">
    <div class="clase-1">
        <section class="contenerdor-title">
            <h1 class="text-4xl/8 font-bold text-center md:text-6xl md:font-bold md:text-left font-panton-light">Nuestros Servicios</h1>
        </section>
        <section class="contenerdor-boxes" data-aos="fade-down-right"  data-aos-duration="1500">
            <!-- <section class="contenerdor-boxes" data-aos="fade-down-right"  data-aos-duration="1500"> -->
            <article class="box" >
                <div>
                    <h2 class="font-bold font-panton-light">Formación y Capacitación</h2>
                </div>
                <div>
                    <p class=" font-panton-light">Sensibilizamos, educamos y formamos a 
                        emprendedores y dueños de Pymes, brindando 
                        todo lo relacionado con la preparación y 
                        desarrollo de talentos profesionales.</p>
                </div>
            </article>
            <article class="box" >
                <div>
                    <h2 class="font-bold font-panton-light">Consultoría y Coaching</h2>
                </div>
                <div>
                    <p class=" font-panton-light">Ofrecemos procesos de intervención, donde se 
                        hace presente la consultoría organizacional y el 
                        coaching para acompañar a nuestros clientes.</p>
                </div>
            </article>
            <article class="box" >
                <div>
                    <h2 class="font-bold font-panton-light">Desarrollo de Talento</h2>
                </div>
                <div>
                    <p class=" font-panton-light">Desarrollamos procesos de acercamiento entre 
                        talentos profesionales de Pymes, generando 
                        beneficios mutuos de formación y cambio.</p>
                </div>
            </article>
            <article class="box">
                <div>
                    <h2 class="font-bold font-panton-light">Soluciones Integrales</h2>
                </div>
                <div>
                    <p class=" font-panton-light">Ofrecemos una plataforma especializada para 
                        que emprendedores y líderes de Pymes puedan 
                        encontrar herramientas y comunidad.</p>
                </div>
            </article>
        </section>
    </div>
</section>