<section class="contenedor">
    <div class="clase-1">
        <section class="contenerdor-title">
            <h1 class="text-6xl font-bold text-center md:text-6xl md:font-bold md:text-left font-panton-light">Nuestros Servicios</h1>
        </section>
        <section class="contenerdor-boxes" data-aos="fade-down-right"  data-aos-duration="1500">
            <!-- <section class="contenerdor-boxes" data-aos="fade-down-right"  data-aos-duration="1500"> -->
            <article class="box" >
                <div>
                    <h2 class="title font-bold font-panton-light">Formación y Capacitación</h2>
                </div>
                <div>
                    <p class="description font-panton-light">Ofrecemos programas de formación y
                        capacitación en temas clave para el
                        desarrollo de emprendedores y Pymes, como
                        marketing digital, gestión empresarial,
                        liderazgo y más.</p>
                </div>
            </article>
            <article class="box" >
                <div>
                    <h2 class="title font-bold font-panton-light">Consultoría especializada</h2>
                </div>
                <div>
                    <p class="description font-panton-light">Brindamos consultoría especializada en áreas
                        de gestión empresarial, como
                        comercialización, ventas, administración del
                        tiempo y gestión emocional.</p>
                </div>
            </article>
            <article class="box" >
                <div>
                    <h2 class="title font-bold font-panton-light">Acompañamiento y Coaching</h2>
                </div>
                <div>
                    <p class="description font-panton-light">Ofrecemos procesos de acompañamiento y
                        coaching para emprendedores, empresarios
                        de Pymes y sus equipos de trabajo, con el
                        objetivo de potenciar su desarrollo personal y
                        profesional.</p>
                </div>
            </article>
            <article class="box">
                <div>
                    <h2 class="title font-bold font-panton-light">Eventos y Comunidad</h2>
                </div>
                <div>
                    <p class="description font-panton-light">Organizamos eventos virtuales y
                        presenciales, como webinars, ruedas de
                        negocios y conferencias, para conectar a la
                        comunidad de emprendedores y líderes de
                        Pymes.</p>
                </div>
            </article>
        </section>
    </div>
</section>