
.contenedor{
    background-color: var(--bg-secundary);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clase-1{
    width: 80%;
    margin: auto;
    background-color: var(--bg-secundary);
}
h1{
    color: white;
    margin-bottom: 60px;
    margin-top: -30px;
    margin-left: 20px;
    background-color: var(--bg-secundary);
    font-family :'Times New Roman', Times, serif;
}
h2{
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family :'Times New Roman', Times, serif;
    margin-bottom: 10px;

}

p{
    color: white;
    font-size: 18px;
    line-height: 2.5rem;
}

.contenerdor-title{
    background-color: var(--bg-secundary);
}

.contenerdor-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    background-color: var(--bg-secundary);

}

.box{
    background-color: var(--sub-bg-secundary);
    width: 48%;
    border-radius: 8px;
    padding: 15px;
    transition: transform .5s ease;
}




@media only screen and (min-width: 100px) and (max-width: 360px) {
    .contenedor{
        height: 90vh;
    }
    .clase-1{
        width: 99%;
    }
    h1{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 25px;
        text-align: center;
    }

    h2{
        font-size: 15px;
    }
    
    p{
        font-size: 13px;
        line-height: 1.4;
    }
    .contenerdor-boxes{
        gap: 5px;
        justify-content: center;
    }
    
    .box{
        padding: 20px 15px;
        width: 90%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .contenedor{
        height: 90vh;
    }
	
    .clase-1{
        width: 95%;
    }
    h1{
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 25px;
        text-align: center;
    }
    h2{
        font-size: 16px;
        margin-bottom: 15px;
    }
    
    p{
        margin: auto;
        font-size: 14px;
        line-height: 2.4rem;
        font-weight: 500;
    }
    .contenerdor-boxes{
        gap: 10px;
        justify-content: center;
    }
    
    .box{
        padding: 20px 10px;
        text-align: center;
    }
}
@media (min-width:769px){
	
    .clase-1{
        width: 80%;
    }
    .box:hover{
        /* background-color: #49683f5d; */
        transform: scale(1.02);
    }

}

.clase-4{
    list-style-type: none;
}
.clase-2{
    background-color: black;
    height: 90vh;
    border: solid yellow;
    width: 95%;
    margin: auto;
}
.clase-3{
    height: 100vh;
    width: 50vw;
    margin: auto;
    background-image: url('./../../../../../assets/img/blog2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}



