<app-nav></app-nav>
			<!-- page-header -->
			<section class="page-title image-v4 text-center py-56 lg:py-36">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<h2 class="font1 text-2xl md:text-5xl  font-panton-ligth">Servicios</h2>
							<p class="font1 text-3xl md:text-5xl  font-panton-ligth mt-10">PYMES + Liderazgo + Ambiente = Empresas en BIENESTAR</p>
						</div>
					</div>
				</div>
			</section>
			<!-- //page-header -->

		<div class="wrapper">
            

            <section class="padd-tb-60">
				<div class="container">
				
					<!-- features style1 -->
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-briefcase icons circle"></i>
								<h4>Asesores y consultores (idem)</h4>	
								<p>Trabajamos con
                                    expertos en el
                                    desarrollo de
                                    emprendedores y
                                    Pymes. 
                                </p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-graduation icons circle"></i>
								<h4>Instituciones de Formación Profesional</h4>	
								<p> Instituciones profesionales a nivel global, con los mejores y más prestigiosos programas de formación.</p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-badge icons circle"></i>
								<h4>Comunidad de Líderes (Idem)</h4>	
								<p>Conectamos a

                                    emprendedores y
                                    dueños de Pymes entre
                                    sí.</p>
								
							</div>
						</div>	
					</div>
					<!-- ./features style1 -->	
					
					
										
				</div><!-- ./container -->
			</section>
            <div class="row container-locura  ">
                <div class=" locura bg-orange padd-30">
                    <div class="agrupar">
                        <i class="icon-briefcase icons"></i>
                        <h4 class="mt-10 mb-7">Asesores y consultores (idem)</h4>	
                        <p>Trabajamos con
                            expertos en el
                            desarrollo de
                            emprendedores y
                            Pymes.
                        </p>
                    </div>
                </div>
                <div class=" locura bg-purple padd-30">
                    <div class="agrupar">
                        <i class="icon-graduation icons"></i>
                        <h4 class="mt-10 mb-7">Instituciones de Formación Profesional</h4>	
                        <p>Instituciones profesionales a nivel global, con los mejores y más prestigiosos programas de formación.
                        </p>
                    </div>
                </div>
                <div class=" locura bg-blue padd-30">
                    <div class="agrupar">
                        <i class="icon-badge icons"></i>
                        <h4 class="mt-10 mb-7">Comunidad de Líderes (Idem)</h4>	
                        <p>Conectamos a
                            emprendedores y
                            dueños de Pymes entre
                            sí.
                        </p>
                    </div>
                </div>
            </div>
        </div>
<app-our-history></app-our-history>
<app-footer></app-footer>