    <app-nav></app-nav>
	<section class="page-title image-v4 text-center py-56 lg:py-36">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<h2 class="font1 text-2xl md:text-5xl  font-panton-ligth">Servicios</h2>
					<p class="font1 text-3xl md:text-5xl  font-panton-ligth mt-10">PYMES + Liderazgo + Ambiente = Empresas en BIENESTAR</p>
				</div> 
			</div>
		</div>
	</section>

    <!-- <app-message></app-message> -->

	<div class="wrapper">
            <!-- <section class="padd-tb-60">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-briefcase icons circle"></i>
								<h4>Asesores y consultores (idem)</h4>	
								<p>Trabajamos con
                                    expertos en el
                                    desarrollo de
                                    emprendedores y
                                    Pymes. 
                                </p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-graduation icons circle"></i>
								<h4>Instituciones de Formación Profesional</h4>	
								<p> Instituciones profesionales a nivel global, con los mejores y más prestigiosos programas de formación.</p>
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature-box style1">
								<i class="icon-badge icons circle"></i>
								<h4>Comunidad de Líderes (Idem)</h4>	
								<p>Conectamos a

                                    emprendedores y
                                    dueños de Pymes entre
                                    sí.</p>
								
							</div>
						</div>	
					</div>
				</div>
			</section> -->
            <section class="padd-tb-60">
                <div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
                            <h1 class="text-5xl text-center ">
                                Conectamos emprendedores y Pymes con expertos y programas de formación.
                            </h1>
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="container">
                <div class="row px-24 pb-24 sm:px-24 sm:pb-2px-24 md:px-32 md:pb-32 lg:px-44 lg:pb-44">

                    <div class="row container-locura  ">
                        <div class=" locura bg-orange padd-30" data-aos="fade-right"  data-aos-duration="500">
                            <div class="agrupar">
                                <i class="icon-briefcase icons"></i>
                                <h4 class="mt-10 mb-7">Asesores y consultores (idem)</h4>	
                                <p>Trabajamos con
                                    expertos en el
                                    desarrollo de
                                    emprendedores y
                                    Pymes.
                                </p>
                            </div>
                        </div>
                        <div class=" locura bg-purple padd-30" data-aos="fade-right"  data-aos-duration="1500">
                            <div class="agrupar">
                                <i class="icon-graduation icons"></i>
                                <h4 class="mt-10 mb-7">Instituciones de Formación Profesional</h4>	
                                <p>Instituciones profesionales a nivel global, con los mejores y más prestigiosos programas de formación.
                                </p>
                            </div>
                        </div>
                        <div class=" locura bg-blue padd-30" data-aos="fade-right"  data-aos-duration="2000">
                            <div class="agrupar">
                                <i class="icon-badge icons"></i>
                                <h4 class="mt-10 mb-7">Comunidad de Líderes (Idem)</h4>	
                                <p>Conectamos a
                                    emprendedores y
                                    dueños de Pymes entre
                                    sí.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </div>
    
    <app-our-history></app-our-history>
    <section style="background-color: #222;">
<svg class="curveDownColor bg-svg-gray2 margin-negativo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none" >
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>
</section>

<app-footer></app-footer>

<app-pie-footer></app-pie-footer>

<app-whatsapp></app-whatsapp>
