<div class="relative">
    <swiper-container class="slide-custom" init=false>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/distribucion_1.jpg)">
          <article class="slogan-container">
            <div class="slogan " data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <h3 class="font1 tracking-in-expand-fwd text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article> 
          <article class="logo-container">
            <div class="logo scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
            </div>
            
          </article>
          <article class="flex justify-center sm:justify-center md:justify-start  w-full h-2/5 pl-0 pt-0 sm:pl-0 sm:pt-2 md:pl-28 md:pt-20">
            <article class="flex container-botones w-5/6 h-14 sm:h-14 md:h-20 justify-center sm:justify-center md:justify-start">
              <a routerLink="/inicio/services">
                <div class="flex  items-center justify-center flex-1 sm:flex-1 md:flex-initial md:w-96 h-full caja-boton middle none center mr-3 rounded-lg bg-gradient-to-tr from-pink-600 to-pink-400 py-3 px-6 shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 cursor-pointer hover:scale-105 disabled:shadow-none">
                  <h3 class="text-base md:text-xl text-white ">Conoce Nuestros Servicios</h3>
                </div>
              </a>
              <a routerLink="/inicio/services">
                <div class="flex  items-center justify-center flex-initial  md:w-96 h-full caja-boton middle none center mr-3 rounded-lg border border-pink-500 py-3 px-6 shadow-pink-500/20 transition-all  hover:shadow-pink-500/40 hover:opacity-75 focus:ring focus:ring-pink-200 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 cursor-pointer hover:scale-105 disabled:shadow-none">
                  <h3 class="text-base md:text-xl text-white ">Únete a Nuestra Comunidad</h3>
                </div>
              </a>
            </article>
          </article>

          <!-- <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom" data-aos="fade-right" >
                    <h4 class="font1  text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom" data-aos="fade-right" >
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Despertamos el potencial empresarial en las PYMES</h4>
                </div>
            </div>
          </article> -->


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgba(42, 47, 41, 0.616), rgba(0, 0, 0, 0.644)), url(../../../../../../../assets/talentoactivo/teamwork2.jpg)">
          <article class="slogan-container">
            <div class="slogan" >
                <h3 class="font1 tracking-in-expand-fwd   text-3xl md:text-6xl  font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article>
          <article class="logo-container">
            <div class="logo scale-down-center" >
                

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
              <div class="box-title3 slide-in-bottom">
                <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">PYMES + Liderazgo + Ambiente = Empresas en BIENESTAR</h4>
              </div>
                <!-- <div class="box-title2 slide-in-bottom">
                    <h4 class="font1 text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div> -->
                
            </div>
          </article>


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/aluminio_1.jpg)">
          <article class="slogan-container">
            <div class="slogan"data-aos="fade-down"
            >
                <!-- <h3 class="font1 tracking-in-expand-fwd  text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3> -->
            </div>
          </article>
          <article class="logo-container">
            <div class="slogan scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
            <h3 class="font1 tracking-in-expand-fwd text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom">
                    <h4 class="font1 text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom">
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Distinguimos posibilidades y diseñamos futuro.</h4>
                </div>
            </div>
          </article>


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/aluminio_2.jpg)">
          <article class="slogan-container">
            <div class="slogan"data-aos="fade-down"
            >
                <h3 class="font1 tracking-in-expand-fwd  text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article>
          <article class="logo-container">
          <!--   <div class="logo scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
                

            </div>
             -->
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
              <div class="box-title3 slide-in-bottom">
                <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Las PYMES son el corazón palpitante de la economía de los países</h4>
              </div>
            </div>
          </article>


        </div>
      </swiper-slide>
    </swiper-container>
<!--     <button class="btn-swiper swiper-button-prev absolute top-1/2 translate-y-[-50%] z-10">Anterior</button>
    <button class="btn-swiper swiper-button-next absolute top-1/2 translate-y-[-50%] right-0 z-10">Siguiente</button> -->
  </div>
