<div class="relative">
    <swiper-container class="slide-custom" init=false>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/distribucion_1.jpg)">
          <article class="slogan-container">
            <div class="slogan " data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">
                <h3 class="font1 tracking-in-expand-fwd text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article> 
          <article class="logo-container">
            <div class="logo scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
                

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom" data-aos="fade-right" >
                    <h4 class="font1  text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom" data-aos="fade-right" >
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Despertamos el potencial empresarial en las PYMES</h4>
                </div>
            </div>
          </article>


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/emprendimiento_mujer_1.jpg)">
          <article class="slogan-container">
            <div class="slogan" >
                <h3 class="font1 tracking-in-expand-fwd   text-3xl md:text-6xl  font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article>
          <article class="logo-container">
            <div class="logo scale-down-center" >
                

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom">
                    <h4 class="font1 text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom">
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">PYMES + Liderazgo + Ambiente = Empresas en BIENESTAR</h4>
                </div>
            </div>
          </article>


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/aluminio_1.jpg)">
          <article class="slogan-container">
            <div class="slogan"data-aos="fade-down"
            >
                <h3 class="font1 tracking-in-expand-fwd  text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article>
          <article class="logo-container">
            <div class="logo scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
                

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom">
                    <h4 class="font1 text-2xl md:text-5xl  font-panton-ligth">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom">
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Distinguimos posibilidades y diseñamos futuro.</h4>
                </div>
            </div>
          </article>


        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="element-slide" style="background-image: linear-gradient(to right, rgb(42 47 41 / 26%), rgb(0 0 0 / 36%)), url(../../../../../../../assets/talentoactivo/aluminio_2.jpg)">
          <article class="slogan-container">
            <div class="slogan"data-aos="fade-down"
            >
                <h3 class="font1 tracking-in-expand-fwd  text-3xl md:text-6xl font-panton-bold-italic">Tu potencial <br> nuestra pasión</h3>
            </div>
          </article>
          <article class="logo-container">
            <div class="logo scale-down-center"  data-aos="fade-up"
            data-aos-duration="1000">
                

            </div>
            
          </article>
          <article class="slogan-pie">
            <div class="sub-slogan">
                <div class="box-title2 slide-in-bottom">
                    <h4 class="font1 text-2xl md:text-5xl">En TALENTO ACTIVO</h4>
                </div>
                <div class="box-title3 slide-in-bottom">
                    <h4 class="font1 text-3xl md:text-5xl  font-panton-ligth">Las PYMES son el corazón palpitante de la economía de los países</h4>
                </div>
            </div>
          </article>


        </div>
      </swiper-slide>
    </swiper-container>
<!--     <button class="btn-swiper swiper-button-prev absolute top-1/2 translate-y-[-50%] z-10">Anterior</button>
    <button class="btn-swiper swiper-button-next absolute top-1/2 translate-y-[-50%] right-0 z-10">Siguiente</button> -->
  </div>
