<section class="section">
    <article class="article1" >
        <h2 class="text-4xl/8 font-bold text-center md:text-5xl md:font-semibold md:text-left font-panton-light">¿Quiénes Somos?</h2>
    </article>
    <article class="article2">
        <div class="div1">
            <div class="title font-bold font-panton-light">
                Nuestra Experiencia
            </div>
            <div class="description font-panton-light">
                Somos una organización
                venezolana con más de 30 años
                de trayectoria en educación,
                formación, asesoría,
                consultoría, mentoría y
                coaching para emprendedores
                y dueños de Pymes en América
                Latina.
            </div>
        </div>
        <div class="div1" >
            <div class="title font-bold font-panton-light">
                Nuestro Enfoque
            </div>
            <div class="description font-panton-light">
                Nos dedicamos a sensibilizar y
                acompañar a nuestros clientes
                en el desarrollo de su potencial
                como emprendedores y líderes,
                para que logren sus propósitos
                y transformen sus vidas y
                negocios.
            </div>
        </div>
        <div class="div1">
            <div class="title font-bold font-panton-light">
                Nuestro Compromiso
            </div>
            <div class="description font-panton-light">
                Estamos comprometidos en
                despertar el espíritu
                emprendedor y transformar a
                los dueños de Pymes en
                empresarios líderes, capaces de
                alcanzar resultados y generar
                prosperidad.
            </div>
        </div>

    </article>
</section>
