/* You can add global styles to this file, and also import other style files */
@import './assets/css/font-awesome/font-awesome.min.css';
@import './assets/css/simple-line-icons/simple-line-icons.css';
@import './assets/css/bootstrap/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';
@import './assets/plugins/rs-plugin/css/settings.css';
@import './assets/css/animate/animate.min.css';
@import './assets/css/style.css';
@import './assets/css/colors/aqua.css';
@import './assets/css/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Jacquard+12&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


/* variables color temas */
:root {
	--bg-primary: #f4f4f5;
	--bg-secundary: #37502f;
	--sub-bg-primary: yellow;
	--sub-bg-secundary: #49683f;

	--color-primary: yellow;
	--color-secundary: yellow;
}

/* :root {
	--bg-primary: #cecece;
	--bg-secundary: #37502f;
	--sub-bg-primary: yellow;
	--sub-bg-secundary: #49683f;

	--color-primary: yellow;
	--color-secundary: yellow;
} */


@keyframes slide-out {
    to {
    transform: translate(1200px);    
    }
}
    
@keyframes slide-in {
    from {
        transform: translate(-1200px);    
    }
}

::view-transition-new(serie-slide){
    animation-duration: 500ms;
    animation-name: -ua-view-transition-fade-in, slide-in;
}

::view-transition-old(serie-slide){
    animation-duration: 500ms;
    animation-name: -ua-view-transition-fade-out, slide-out;
}

.font1{
    color: white;
	font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.bg-svg-white{
    fill: var(--bg-primary);
    stroke: var(--bg-primary);
}
.bg-svg-green{
    fill: var(--bg-secundary);
    stroke: var(--bg-secundary);
}