<!-- footer -->
<footer class=" bg-dark padd-tb-60" >
	<div class="container">
		<div class="row footer">
			<div class="col-md-6 mvs-30 wow fadeIn container-email">
				<div class="container-frase">
					<h1 class="font-panton-bold-italic">Cuando nos apoyamos mutuamente, nuestro potencial se multiplica.</h1>
				</div>
			</div>

			<div class="col-md-6 mvs-30 wow fadeIn container-email" data-wow-delay=".6s">
				<div class="card-form">
					<h1>¿Estás interesado? <br>¡Contáctanos!</h1>
					<div class="signup">
						<form target="#">
							<input type="email" id="email-signup" placeholder="Ingresa tu email...." required>
							<input type="submit" value="Enviar" id="btn">
						</form>
					</div>
					<p id="spam"> 0% Spam Tolerance, Unsubscribe any time!</p>
				</div>
			</div>
		</div><!-- ./row -->
	</div><!-- ./container -->
</footer>
<!-- ./footer -->

<!-- footer-sub -->
<div class="footer-sub bg-light-dark padd-tb-10">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="copyright">
					2024 &copy; talenctoActivo C.A - <a href="http://jonapiscope.com" target="_blank">Elaborado por JonVAG</a>
				</div>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="icon-holder small circle"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
			</div>	
		</div><!-- ./row -->
	</div><!-- ./container -->
</div>
<!-- ./footer-sub -->
