
<!-- footer -->
<footer class="padd-tb-60" >
	<div class="container">
		<div class="row footer div-group">
			<div class="col-md-6 mvs-30 wow fadeIn container-email">
				<div class="container-frase">
					<h1 class="font-panton-bold-italic">Cuando nos apoyamos mutuamente, nuestro potencial se multiplica.</h1>
				</div>
			</div>

			<div class="col-md-6 mvs-30 wow fadeIn container-email" data-wow-delay=".6s">
				<div class="card-form">
					<h1>¿Estás interesado? <br>¡Contáctanos!</h1>
					<div class="signup">
						<form #formulario="ngForm" (ngSubmit)="guardarDatosSheety()">

							<input   type="text" autocomplete="off" name="email" id="email" [(ngModel)]="dataFormulario.email" #email="ngModel" required minlength="3" placeholder="Ingresa tu email...." >
							@if (this.buttonblock) {
								<!-- <button class="btn btn-theme btn-lg" [disabled]="formulario.invalid">Enviar</button> -->
							<input type="submit" value="Enviar" id="btn" [disabled]="formulario.invalid">

							}
							@if (!this.buttonblock && !this.loaderblock) {
								<!-- <button class="btn btn-theme btn-lg" disabled >Enviado!</button> -->
							<input type="button" disabled value="Enviado!" id="btn-enviado">

							}
							@if (!this.buttonblock && this.loaderblock) {
								<!-- <button class="btn btn-theme btn-lg" disabled >Enviado!</button> -->
							<input type="button" disabled value="Enviando..." id="btn">

							}
						</form>
					</div>
					<p id="spam"> ¡Nos comprometemos a no enviarte spam.!</p>
				</div>
			</div>
		</div><!-- ./row -->
	</div><!-- ./container -->
</footer>
<!-- ./footer -->
