
  footer{
    background-color: #222;

  }
  .container-email{
    font-family:"Open Sans", serif;
    font-weight:400;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .div-group{
    background-color: #222;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }

  .signup{
    width:444px;
    height:64px;
    background-color:white;
    /* border: 4px solid rgb(165, 0, 0); */
    box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.11);
    border-radius:100px;
    margin:20px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .container-frase{
    height: 100%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15px;

    font-size: 60px;
    background: linear-gradient(to right, var(--bg-secundary), var(--sub-bg-secundary), var(--bg-secundary));
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  #email-signup{
    height:50px;
    background-color:black;
    padding:0px 5px 0px 10px;
    width:300px;
    caret-color:#fc4e03;
    background-color:white;
    font-size:20px;
    color:#383838;
    outline-style:none;
    border:none;
    border-radius:100px;
  }
  #btn{
    height:50px;
    width: 124px;
    background-color:#fc4e03;
    border:none;
    font-size:18px;
    border-radius:100px;
    float:right;
    color:white;
  }
  #btn:hover{
    background-color:#e34602;
  }
  #email-signup:hover{
    background-color:#f2f2f2;
  }
  #email-signup:focus{
    background-color:#f2f2f2;
  }
  .card-form{
    font-family:"Open Sans", serif;
    text-align:center;
    width:500px;
    color:white;
    height:auto;
    background:  var(--bg-secundary);
    background: -webkit-linear-gradient(45deg, var(--sub-bg-secundary),  var(--bg-secundary));
    background: linear-gradient(45deg, var(--sub-bg-secundary),  var(--bg-secundary));
    border-radius:0.3rem;
    box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.11);
    padding:50px 0px 50px 0px;
  }
  #spam{
    color:#f2f2f2;
    font-size:16px;
    padding:3px;
  }
  h1{
    font-size:30px
  }
  @media (max-width:640px){
    /* .footer{
      margin-top:50px;
    } */
    .card-form{
      width:85vw;
    }
    .signup{
      display:inline-flex;
      width: 50vw;
      height:auto;
      margin:15px 0 15px 0;
      flex-wrap:wrap;
      border-radius:0.2rem;
      background-color:rgba(255, 255, 255, 0);
      /* border: 4px solid rgb(165, 0, 0); */
      box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.11);
 
    }
    #btn{
      width:70%;
      border-radius:2.2rem;
      margin-top: 15px;
      float:none;
      
    }
    #email-signup{
      height:50px;
      
      border-radius:4.2rem;
    }
    h1{
      font-size:24px;
      width:100%;
    }
    #spam{
      font-size:14px;
      width:100%;
    }
  }

  @media (max-width:400px){
    .hola{
      background-color: blue;
    }
  }


  @media (max-width:380px){

    .hola{
      background-color: red;
    }

  }

    