
<!-- footer -->
<footer class="padd-tb-60" >
	<div class="container">
		<div class="row footer div-group">
			<div class="col-md-6 mvs-30 wow fadeIn container-email">
				<div class="container-frase">
					<h1 class="font-panton-bold-italic">Cuando nos apoyamos mutuamente, nuestro potencial se multiplica.</h1>
				</div>
			</div>

			<div class="col-md-6 mvs-30 wow fadeIn container-email" data-wow-delay=".6s">
				<div class="card-form">
					<h1>¿Estás interesado? <br>¡Contáctanos!</h1>
					<div class="signup">
						<form target="#">

							<input type="email"  id="email"  placeholder="Ingresa tu email...." required>
							<input type="submit" value="Enviar" id="btn">
						</form>
					</div>
					<p id="spam"> 0% Spam Tolerance, Unsubscribe any time!</p>
				</div>
			</div>
		</div><!-- ./row -->
	</div><!-- ./container -->
</footer>
<!-- ./footer -->
